<li class="nav-item">
    <a class="nav-link px-lg-3 {% if currentPage == 'home' %}active{% endif %}" href="/">Home</a>
</li>
<li class="nav-item ml-3">
    <a class="nav-link px-lg-3 {% if currentPage == 'menu' %}active{% endif %}" href="/menu">Menu</a>
</li>
<li class="nav-item ml-3">
    <a class="nav-link px-lg-3 {% if currentPage == 'coffee' %}active{% endif %}" href="/coffee">Coffee</a>
</li>
<li class="nav-item ml-3">
    <a class="nav-link pl-lg-3 {% if currentPage == 'ourStory' %}active{% endif %}" href="/about-us">Our story</a>
</li>
