<!DOCTYPE html>
<html lang="{% block language %}en{% endblock %}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:image" content="https://ghc.surge.sh/img/counter.jpg">
    <meta property="og:title" content="Generic Hipster Coffee">
    <meta property="og:description" content="Generic Hipster Coffee is a large modern cafe located on bustling Ivy Street in San Francisco. Over two floors, we offer tasty coffee, home-made food, coffee tastings, barista courses, talks and special events. It’s a fresh clean dynamic area suitable for meetings, working with wifi, families and intimate dining too.">
    <meta property="og:url" content="https://ghc.surge.sh/">
    <meta property="fb:app_id" content="123456789">
    <meta name="twitter:card" content="summary">
    <title>{% block title %}Generic hipster coffee{% endblock %}</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <div class="container flex-column flex-sm-row">
                <a class="navbar-brand m-0" href="#">
                    <img src="/svg/logo.svg" style="width: 100%; height: auto" class="align-top" alt="">
                </a>
                <ul class="navbar-nav flex-row">
                    <li class="nav-item">
                        <a class="nav-link active px-lg-3" href="/">Home</a>
                    </li>
                    <li class="nav-item ml-3">
                        <a class="nav-link px-lg-3" href="/menu">Menu</a>
                    </li>
                    <li class="nav-item ml-3">
                        <a class="nav-link px-lg-3" href="/coffee">Coffee</a>
                    </li>
                    <li class="nav-item ml-3">
                        <a class="nav-link pl-lg-3" href="/about-us">Our story</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1>{% block heading %}{% endblock %}</h1>
            {% block content %}{% endblock %}
            {% block footerMedia %}
            <div class="ghc-img-responsive">
                <img class="img-fluid" src="/img/{% block footerImg %}{% endblock %}" alt="">
            </div>
            {% endblock %}
        </div>
    </main>
    <footer class="bg-dark py-5">
        <div class="container">
            <ul class="navbar-nav flex-row justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active px-lg-3" href="/">Home</a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link px-lg-3" href="/menu">Menu</a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link px-lg-3" href="/coffee">Coffee</a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link px-lg-3" href="/about-us">Our story</a>
                </li>
            </ul>
                <div class="row text-center text-white">
                    <h2 class="col-12 font-weight-bold h5">#hipstersmakescoffee</h2>
                    <p class="col-12">Follow us on
                        <a href="http:/www.twitter/generichipstercoffee">Twitter</a> and
                        <a href="http:/www.instagram/generichipstercoffee">Instagram</a>
                    </p>
            </div>
        </div>
    </footer>

{# <!-- Optional JavaScript --> #}
<!-- jQuery first, then Popper.js, then Bootstrap JS and your own script at the end -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVq8zRGy-9N5xc__NW6ZlHVrWUiS1lec4&callback=initMap"></script>
{# <script src="js/custom.js"></script> #}
</body>
</html>
