<!DOCTYPE html>
<html lang="{% block language %}en{% endblock %}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:image" content="https://ghc.surge.sh/img/counter.jpg">
    <meta property="og:title" content="Generic Hipster Coffee">
    <meta property="og:description" content="Generic Hipster Coffee is a large modern cafe located on bustling Ivy Street in San Francisco. Over two floors, we offer tasty coffee, home-made food, coffee tastings, barista courses, talks and special events. It’s a fresh clean dynamic area suitable for meetings, working with wifi, families and intimate dining too.">
    <meta property="og:url" content="https://ghc.surge.sh/">
    <meta property="fb:app_id" content="123456789">
    <meta name="twitter:card" content="summary">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.3/picturefill.min.js" async></script>
    <title>{% block title %}Generic hipster coffee{% endblock %}</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <div class="container flex-column flex-sm-row">
                <a class="navbar-brand m-0" href="#">
                    <img src="/svg/logo.svg" style="width: 100%; height: auto" class="align-top" alt="">
                </a>
                <ul class="navbar-nav flex-row">
                    {% block nav %}
                        {% include '__nav.twig' with {'currentPage': 'menu'} %}
                    {% endblock %}
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1>{% block heading %}{% endblock %}</h1>
            {% block content %}{% endblock %}
            {% block footerMedia %}
                <div class="ghc-img-responsive"></div>
            {% endblock %}
        </div>
    </main>
    <footer class="ghc-footer bg-dark py-5">
        <div class="container">
            <ul class="navbar-nav flex-row justify-content-center">
                {% block nav %}
                    {% include '__nav.twig' with {'currentPage': 'menu'} %}
                {% endblock %}
            </ul>
                <div class="row text-center text-white">
                    <h2 class="col-12 font-weight-bold h5 mt-5">#hipstersmakescoffee</h2>
                    <p class="col-12">Follow us on
                        <a href="http:/www.twitter/generichipstercoffee">Twitter</a> and
                        <a href="http:/www.instagram/generichipstercoffee">Instagram</a>
                    </p>
            </div>
        </div>
    </footer>

    {% block googleMap %}{% endblock %}

</body>
</html>
