{% extends '_base.twig' %}


{% block title %}Coffee | {{ parent() }}{% endblock %}


{% block heading %}Coffee{% endblock %}


{% block nav %}
    {% include '__nav.twig' with {'currentPage': 'coffee'} %}
{% endblock %}


{% block content %}
    <p>We work with specialty coffee from current crops which is carefully roasted. Our coffee is fruity, juicy and never
        boring. We bring you the best from leading european specialty roasteries, currently mostly from <a href="https://shop.squaremilecoffee.com/" target="_blank">Square Mile Coffee
        Roasters</a>, a multi award winning coffee roasting company based in East London.</p>
    <p class="small">You can currently buy these beans in 350 g bags</p>
    <div class="card-deck">
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card h-100 border-0">
                    <h3 class="card-header">Macho (Costa&nbsp;Rica)</h3>
                        <img class="card-img-top img-fluid" src="img/smcr-macho.jpg" alt="Macho (Costa Rica)">
                    <div class="card-body bg-light">
                        <p class="card-text">
                            <small class="text-muted">honeycomb / hazelnut / creamy</small>
                        </p>
                        <p class="card-text">Our second Macho lot for the season, and this time we have the red honey processed lot providing a heavier, creamy body with sweet honeycomb flavours and a sprinkling of hazelnuts.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card h-100 border-0">
                    <h3 class="card-header">Coffea Suarez (Costa&nbsp;Rica)</h3>
                        <img class="card-img-top img-fluid" src="/img/smcr-coffea-suarez.jpg" alt="Coffea Suarez (Costa Rica espresso)">
                    <div class="card-body bg-light">
                        <p class="card-text">
                            <small class="text-muted">stewed peach / berry / cocoa</small>
                        </p>
                        <p class="card-text">A fruit driven espresso from the West Valley region of Costa Rica. Plenty of stewed peach and berry flavours, hints of sweet lemon akin to limoncello and a cocoa bassline, this is an espresso to keep everyone happy.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card h-100 border-0">
                    <h3 class="card-header">Kamwangi (Kenya)</h3>
                    <img class="card-img-top img-fluid" src="/img/smcr-kamwangi.jpg" alt="Kamwangi (Kenya)">
                    <div class="card-body bg-light">
                        <p class="card-text">
                            <small class="text-muted">blackberry / orange / silky</small>
                        </p>
                        <p class="card-text">This is one fruit filled espresso! From citrus fruits, such as orange, grapefruit and clementine, to
                            berries of the black, blue and red variety, this is fruit turned up to 11, all wrapped up in a silky
                            smooth body.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card h-100 border-0">
                    <h3 class="card-header">La Colmenita (Guatemala)</h3>
                    <img class="card-img-top img-fluid" src="/img/smcr-la-colmenita.jpg" alt="La Colmenita (Guatemala espresso)">
                    <div class="card-body bg-light">
                        <p class="card-text">
                            <small class="text-muted">nectarine / white chocolate / nougat</small>
                        </p>
                        <p class="card-text">A completely balanced and approachable espresso from the Huehuetenango region of Guatemala. Nougat dominates the cup with hints of nectarine and orange sitting alongside a white chocolate sweetness.</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block nav %}
    {% include '__nav.twig' with {'currentPage': 'coffee'} %}
{% endblock %}
