{% extends '_base.twig' %}


{% block title %}Generic hipster coffee{% endblock %}


{% block content %}
    <main>
        <div class="container px-4">
            <div class="text-uppercase">
                <h1 class="my-5">Generic hipster coffee</h1>
                <h2>Specialty coffee, fresh food & local community.</h2>
            </div>
            <div class="ghc-img-responsive">
                <img class="img-fluid " src="/img/counter.jpg" alt="">
            </div>
            <div class="ghc-contact-info mb-4">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 px-0 pt-4 pr-md-4">
                            <h4 class="text-uppercase">Opening hours</h4>
                            <p>sunday &ndash; thursday: 8:00 &ndash; 23:00</p>
                            <p>friday &ndash; sunday: 8:00 &ndash; 1:00</p>
                        </div>
                        <div class="col-sm-12 col-md-4 px-0 pt-4 pl-md-4">
                            <h4 class="text-uppercase">Book a table</h4>
                            <p>Call +1&nbsp;415-321-4567</p>
                        </div>
                        <div class="col-sm-12 col-md-4 px-0 pt-4">
                            <h4 class="text-uppercase">Address</h4>
                            <p>321 Ivy St.</p>
                            <p>San Francisco, CA 94102</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ghc-map-responsive container-fluid p-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10244.348749403387!2d14.4308981!3d50.0659288!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x74563abbc904c4ad!2sFolimanka+Technologies!5e0!3m2!1ssk!2scz!4v1511381664444" class="img-fluid" width="100%" height="auto" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </main>
{% endblock %}
