{% extends '_base.twig' %}


{% block title %}Generic hipster coffee{% endblock %}


{% block heading %}Generic hipster coffee{% endblock %}

{% block content %}
    <h2>Specialty coffee, fresh food & local community.</h2>
    <div class="ghc-img-responsive">
        <img class="img-fluid " src="/img/counter.jpg" alt="">
    </div>
    <div class="ghc-contact-info mb-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4 px-0">
                    <h4>Opening hours</h4>
                    <p>Sunday &ndash; Thursday: 8:00 – 23:00</p>
                    <p>Friday &ndash; Saturday: 8:00 – 1:00</p>
                </div>
                <div class="col-sm-12 col-md-4 px-0">
                    <h4>Book a table</h4>
                    <p>Call +1&nbsp;415-321-4567</p>
                </div>
                <div class="col-sm-12 col-md-4 px-0">
                    <h4>Address</h4>
                    <p>321 Ivy St.</p>
                    <p>San Francisco, CA 94102</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

 {% block footerMedia %}
    <div class="embed-responsive embed-responsive-16by9">
        <div id="map" class="embed-responsive-item">
            <script>
                function initMap(){
                    var location = {lat: 37.777254, lng: -122.423476};
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 20,
                        center: location
                    });

                    var marker = new google.maps.Marker({
                        position: location,
                        map: map
                    });
                }
            </script>
        </div>
    </div>
{% endblock %}
