{% extends '_base.twig' %}


{% block title %}Generic hipster coffee{% endblock %}


{% block content %}
    <main>
        <div class="text-uppercase">
            <h1 class="my-5">Generic hipster coffee</h1>
            <h2>Specialty coffee, fresh food & local community.</h2>
        </div>
        <div class="title-img">
            <img class="img-fluid " src="/img/counter.jpg" alt="">
        </div>
        <div class="ghc-contact-info">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <h4 class="card-title text-uppercase">Opening hours</h4>
                    <p class="card-text">sunday - thursday: 8:00 - 23:00</p>
                    <p class="card-text">friday - saturday: 8:00 - 1:00</p>
                </div>
                <div class="card-body">
                    <h4 class="card-title text-uppercase">Book a table</h4>
                    <p class="card-text">Call +1 415-321-4567</p>
                </div>
                <div class="card-body">
                    <h4 class="card-title text-uppercase">Address</h4>
                    <p class="card-text">321 Ivy St.</p>
                    <p class="card-text">San Francisco, CA 94102</p>
                </div>
            </div>
        </div>
        <div class="ghc-googlemap container">
            <div class="row mx-auto">
                <iframe src="http://satyr.io/270x150" frameborder="0">
                    <img src="http://satyr.io/270x150" class="img-fluid" alt="">
                </iframe>
            </div>
        </div>
    </main>
{% endblock %}
