{% extends '_base.twig' %}


{% block title %}Generic hipster coffee{% endblock %}


{% block content %}
    <main>
        <div class="container px-4">
            <div class="text-uppercase">
                <h1 class="my-5">Generic hipster coffee</h1>
                <h2>Specialty coffee, fresh food & local community.</h2>
            </div>
            <div class="ghc-img-responsive">
                <img class="img-fluid " src="/img/counter.jpg" alt="">
            </div>
            <div class="ghc-contact-info">
                <div class="card mb-3">
                    <div class="card-body px-0">
                        <h4 class="card-title text-uppercase">Opening hours</h4>
                        <p class="card-text">sunday - thursday: 8:00 - 23:00</p>
                        <p class="card-text">friday - saturday: 8:00 - 1:00</p>
                    </div>
                    <div class="card-body px-0">
                        <h4 class="card-title text-uppercase">Book a table</h4>
                        <p class="card-text">Call +1 415-321-4567</p>
                    </div>
                    <div class="card-body px-0">
                        <h4 class="card-title text-uppercase">Address</h4>
                        <p class="card-text">321 Ivy St.</p>
                        <p class="card-text">San Francisco, CA 94102</p>
                    </div>
                </div>
            </div>
            <div class="ghc-img-responsive">
                <img class="img-fluid " src="http://satyr.io/640x360" alt="">
            </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
