{% extends '_base.twig' %}


{% block title %}Generic hipster coffee{% endblock %}


{% block content %}
    <main>
        <h1>Menu</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Espresso coffee</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Espresso</td>
                    <td>3.8</td>
                </tr>
                <tr>
                    <td>Doubleespresso</td>
                    <td>4.9</td>
                </tr>
                <tr>
                    <td>Espresso</td>
                    <td>3.8</td>
                </tr>
                <tr>
                    <td>Espresso</td>
                    <td>3.8</td>
                </tr>
                <tr>
                    <td>Doubleespresso</td>
                    <td>4.9</td>
                </tr>
                <tr>
                    <td>Doubleespresso</td>
                    <td>4.9</td>
                </tr>
                <tr>
                    <td>Espresso</td>
                    <td>3.8</td>
                </tr>
                <tr>
                    <td>Espresso</td>
                    <td>3.8</td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th scope="col">Filter coffee</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Espresso</td>
                    <td>3.8</td>
                </tr>
                <tr>
                    <td>Doubleespresso</td>
                    <td>4.9</td>
                </tr>
                <tr>
                    <td>Espresso</td>
                    <td>3.8</td>
                </tr>
                <tr>
                    <td>Espresso</td>
                    <td>3.8</td>
                </tr>
            </tbody>
        </table>
        <div class="container googlemap">
            <div class="row mx-auto">
                <iframe src="http://satyr.io/270x150" frameborder="0">
                    <img src="http://satyr.io/270x150" class="img-fluid" alt="#">
                </iframe>
            </div>
        </div>
    </main>
{% endblock %}
