{% extends '_base.twig' %}


{% block title %}Generic hipster coffee{% endblock %}


{% block content %}
    <main>
        <h1>Menu</h1>
        <div class="ghc-container">
            <div class="row mx-auto">
                <iframe src="http://satyr.io/270x150" frameborder="0">
                    <img src="http://satyr.io/270x150" class="img-fluid" alt="#">
                </iframe>
            </div>
        </div>
    </main>
{% endblock %}
