{% extends '_base.twig' %}


{% block title %}Our story | {{ parent() }}{% endblock %}


{% block nav %}
    {% include '__nav.twig' with {'currentPage': 'ourStory'} %}
{% endblock %}


{% block content %}
    <h1>Our story</h1>
    <p class="lead">GHC started as a project of two friends and passionate baristas, John & Don in 2010. Believing as much in the hand of an
    educated barista as in the innovative equipment of the our ever-growing industry, GHC offers a full spectrum of brewing
    opportunities – from pour overs to syphon pots to finely executed espresso beverages. Each cup of coffee is made with
    love, precision and care.</p>
{% endblock %}


{% block footerMedia %}
        <img class="img-fluid ghc-n-mb-2" src="/img/espresso-machine.jpg" alt="Espresso machine">
{% endblock %}

{% block nav %}
    {% include '__nav.twig' with {'currentPage': 'ourStory'} %}
{% endblock %}
