{% extends '_base.twig' %}


{% block title %}Our story | {{ parent() }}{% endblock %}


{% block nav %}
    {% include '__nav.twig' with {'currentPage': 'ourStory'} %}
{% endblock %}


{% block content %}
    <h1>Our story</h1>
    <p class="lead">GHC started as a project of two friends and passionate baristas, John & Don in 2010. Believing as much in the hand of an
    educated barista as in the innovative equipment of the our ever-growing industry, GHC offers a full spectrum of brewing
    opportunities – from pour overs to syphon pots to finely executed espresso beverages. Each cup of coffee is made with
    love, precision and care.</p>
{% endblock %}


{% block footerMedia %}
        <img class="img-fluid ghc-n-mb-2" src="/img/espresso-machine_bcykqm_ar_16_9,c_fill,g_auto__c_scale,w_1083.jpg"
            srcset="
                /img/espresso-machine_bcykqm_ar_16_9,c_fill,g_auto__c_scale,w_270.jpg 270w,
                /img/espresso-machine_bcykqm_ar_16_9,c_fill,g_auto__c_scale,w_741.jpg 741w,
                /img/espresso-machine_bcykqm_ar_16_9,c_fill,g_auto__c_scale,w_1083.jpg 1083w,
                /img/espresso-machine_bcykqm_ar_16_9,c_fill,g_auto__c_scale,w_1365.jpg 1365w,
                /img/espresso-machine_bcykqm_ar_16_9,c_fill,g_auto__c_scale,w_2180.jpg 2180w"
            sizes="
                (min-width: 1200px) 1090px,
                (min-width: 992px) 910px,
                (min-width: 768px) 670px,
                (min-width: 576px) 490px,
                calc(100vw - 2*25px)"

            alt="Espresso machine">
{% endblock %}

{% block nav %}
    {% include '__nav.twig' with {'currentPage': 'ourStory'} %}
{% endblock %}
