h1,
h2,
h3,
h4,
h5 {
    text-transform: uppercase;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    letter-spacing: 0.1rem;
}

a:hover {
   color: lighten(#09f, 20%);
}

nav {
    .nav-link {
        text-decoration: none;
    }
    .container {
        padding: 0;
    }
}

.ghc-logo {
    width: 70%;
        @media (min-width: 768px) {
            width: 100%;
    }
}

.ghc-n-mb-2 {
    margin-bottom: -2*$spacer;
}

.ghc-card-coffee {
    @media (min-width: 576px) {
        min-width: 25rem;
    }
}


.ghc-footer {
    .nav-item .active{
        color: $gray-500;
        text-decoration: none;
    }
}

.price {
    color: darken(#09f, 10%);
    font-size: 1.5rem;
    text-align: right;
    margin-bottom: 0;
}
